.addbook-panel {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
  margin: 0px 40px 0px 40px;
}

.addbook-title {
  text-align: left;
  margin: 50px 0px 20px 40px;
}

.addbook-cat {
  margin: 0px 20px 0px 20px;
}

.addbook-footer {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-right: 30px;
}
