.panel-title {
  padding: 10px 0px 0px 20px;
  text-align: left;
}

.panel {
  margin: 0 auto;
  border: 1px solid var(--darkGrey200);
  max-width: 300px;
  border-radius: 6px;
}

.panel-footer {
  background-color: var(--darkGrey200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: left;
  padding: 10px 30px;
}

.form-group {
  padding: 10px 20px;
}
