$black: #070707;
$white: #ffffff;
$textColor: #1E6395;
$textColor1: #85A2C2;
$textColor2: #4DBDF0;
$primaryColor: #4DBDF0;
$secondaryColor: #4C9CC3;
$evenColor: #EDF8FE;
$oddColor: #F5F9F9;
$progress: #F7E257;
$error: #f04d54;
$borderColor: lightgray;