body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-div {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5em;
  padding-bottom: 1rem;
  margin: 0 auto; */
}

.input-span {
  color: red;
  text-align: left;
  font-size: 12px;
  display: none;
}

/* .input:invalid ~ .focus-true-span {
  display: block;
} */
/* .focus-true-span {
  display: block;
} */

.focus-true-input {
  border: 1px solid red;
}

.input:valid {
  border: 1px solid gray;
}

.panel-footer {
}
.panel-container {
  padding-top: 30px;
}

.checkbox {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

.error-message {
  padding: 10px 20px;
}
